@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (max-width: 768px) {
  body {
    background: #fff !important;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* app/globals.css */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

* {
  box-sizing: inherit;
}
.paid-row {
  background-color: #91ed85 !important; /* soft green */
}
